/*  your css code here. If applicable */
.nav-bar{
	background-color:#D3D3D3;
	padding:10px;
}
ul{
	/* display:flex; */
	display:inline-flex;
	list-style:none;
	
}
li{
	margin-right:2rem;
	list-style:none;
}